<phpunit bootstrap="vendor/autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Td4 Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
